@model IList<SuperUserWeb.Domain.UserAccount>

@{
    ViewBag.Title = "Index";
}

<div id="searchResults">
    <!-- placeHolder for search results -->
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>ActivatedUser</th>
                <th>LastActivityDate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="5">
                        No UserAccounts found
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

